<template>
  <div class="filter-app">
    <Header></Header>
    <main>
      <div class="container">
        <Aside></Aside>
        <div class="mian-content">

        </div>
      </div>
    </main>
  </div>
</template>

<script>
import Header from '../components/Header'
import Aside from '../components/Aside'
export default {
  name: 'Content',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  components: {
    Header,
    Aside
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>

</style>
