<template>
  <div class="filter-app">
    <Header></Header>
    <main>
      <div class="container">
        <Aside></Aside>
        <div class="mian-content">
          <list :list="items"></list>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import Header from '../components/Header'
import Aside from '../components/Aside'
import List from '../components/List'
import Vue from 'vue'
import Vuex from 'vuex'
import axios from 'axios'

Vue.use(Vuex)

const dataUrl = 'https://data.kcg.gov.tw/api/action/datastore_search?resource_id=92290ee5-6e61-456f-80c0-249eae2fcc97'

const store = new Vuex.Store({
  state: {
    items: []
  },
  getters: {
    items: state => state.items
  },
  mutations: {
    SET_ITEMS (state, items) {
      state.items = items
    }
  },
  actions: {
    loadList ({ commit }) {
      axios
        .get(dataUrl)
        .then(r => r.data.result.records)
        .then(items => {
          commit('SET_ITEMS', items)
        })
    }
  }
})

export default {
  name: 'FilterPage',
  data () {
    return {
      list: [],
      countOfPage: 5,
      currPage: 1,
      filter_name: '',
      categories: []
    }
  },
  store,
  created () {
    this.$store.dispatch('loadList')
  },
  methods: {
    shorten (description) {
      let fontLength = description.length
      let short = 70
      if (short < fontLength) {
        description = description.substr(0, short) + '...'
      }
      return description
    },
    setPage (idx) {
      if (idx < 0 || idx > this.totalPage) return false
      this.currPage = idx
    }
  },
  computed: {
    items () {
      return this.$store.getters.items
    },
    // getList () {
    //   this.list = this.$store.getters.items
    //   return this.list
    // },
    setCategories () {
      let c = []
      let items = this.$store.getters.items
      for (let i = 0; i < items.length; i++) {
        for (let s = 0; s < c.length; s++) {
          if (c[s] !== items[i].Zone) {
            c.push(items[i].Zone)
          }
        }
      }
      return c
    },
    // filteredRows: function () {
    //   var filter_name = this.filter_name.toLowerCase()
    //   return ( this.filter_name.trim() !== '' ) ? this.rows.filter( function (d) { return d.name.toLowerCase().indexOf(filter_name) > -1; }) : this.rows
    // },
    pageStart () {
      return (this.currPage - 1) * this.countOfPage
    },
    totalPage () {
      return Math.ceil(this.$store.getters.items.length / this.countOfPage)
    }
  },
  components: {
    Header,
    Aside,
    List
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>

</style>
