<template>
  <aside>
    <div class="list-filter">
      <h3>Location</h3>
      <select name="locations" id="locations" v-model="locations">
        <option value="Taiwan">Taiwan</option>
        <option value="Japan">Japan</option>
        <option value="America">America</option>
      </select>
      <hr>
      <h3>Date</h3>
      <label class="label-date">
        <span>from</span>
        <input type="date" name="date-from" v-model="date_from">
      </label>
      <label class="label-date">
        <span>to</span>
        <input type="date" name="date-to" v-model="date_to">
      </label>
      <hr>
      <h3>Categories</h3>
      <ul class="category-list">
        <li>
          <input type="checkbox" name="category" id="All" v-model="category" value="1">
          <label for="All">All</label>
          <i class="fas fa-check"></i>
        </li>
        <li>
          <input type="checkbox" name="category" id="Entertainment" v-model="category" value="2">
          <label for="Entertainment">Entertainment</label>
          <i class="fas fa-check"></i>
        </li>
        <li>
          <input type="checkbox" name="category" id="Food" v-model="category" value="3">
          <label for="Food">Food</label>
          <i class="fas fa-check"></i>
        </li>
        <li>
          <input type="checkbox" name="category" id="Learning" v-model="category" value="4">
          <label for="Learning">Learning</label>
          <i class="fas fa-check"></i>
        </li>
        <li>
          <input type="checkbox" name="category" id="Outdoors" v-model="category" value="5">
          <label for="Outdoors">Outdoors</label>
          <i class="fas fa-check"></i>
        </li>
      </ul>
    </div>
  </aside>
</template>

<script>
export default {
  name: 'Aside',
  data () {
    return {
      locations: '',
      date_from: '',
      date_to: '',
      category: []
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>

</style>
