<template>
  <header>
    <div class="container">
      <h1 class="logo"><a href="/"><img src="../assets/logo.svg" alt="havefun"></a></h1>
      <div class="search-content">
        <div class="search">
          <i class="fas fa-search"></i>
          <input type="text" v-model.trim="filterKeyword">
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
      filterKeyword: ''
    }
  }
}
</script>
