<template>
  <div class="filter-content">
    <div class="filter-result">
      <h3>Showing <strong>{{result}}</strong> results by…</h3>
      <div class="filter-tag">
        <div class="tag">
          Koahsiung
          <span class="tag-close"></span>
        </div>
      </div>
    </div>
    <div class="filter-list">
      <div class="item" v-for="item in list.slice(pageStart, pageStart + countOfPage)" :key="item._id">
        <router-link :to="{name: 'Content', params: {id: item._id}}">
          <img :src="item.Picture1" :alt="item.Name" class="img">
          <div class="text">
            <h4 class="name">{{ item.Name }}</h4>
            <p class="descriptions">{{ shorten(item.Description) }}</p>
          </div>
        </router-link>
      </div>
    </div>
    <div class="pagination">
      <ul>
        <li v-bind:class="{'disabled': (currPage === 1)}" @click.prevent="setPage(currPage-1)"><a href="#">Prev</a></li>
        <li v-for="n in totalPage" v-bind:class="{'active': (currPage === (n))}" @click.prevent="setPage(n)" :key="n"><a href="#">{{n}}</a></li>
        <li v-bind:class="{'disabled': (currPage === totalPage)}" @click.prevent="setPage(currPage+1)"><a href="#">Next</a></li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'List',
  props: {
    list: {
      type: Array,
      require: true
    }
  },
  data () {
    return {
      countOfPage: 10,
      currPage: 1,
      filter_name: '',
      categories: []
    }
  },
  methods: {
    shorten (description) {
      let fontLength = description.length
      let short = 70
      if (short < fontLength) {
        description = description.substr(0, short) + '...'
      }
      return description
    },
    setPage (idx) {
      if (idx < 0 || idx > this.totalPage) return false
      this.currPage = idx
    }
  },
  computed: {
    setCategories () {
      let c = []
      let items = this.list
      for (let i = 0; i < items.length; i++) {
        for (let s = 0; s < c.length; s++) {
          if (c[s] !== items[i].Zone) {
            c.push(items[i].Zone)
          }
        }
      }
      return c
    },
    // filteredRows: function () {
    //   var filter_name = this.filter_name.toLowerCase()
    //   return ( this.filter_name.trim() !== '' ) ? this.rows.filter( function (d) { return d.name.toLowerCase().indexOf(filter_name) > -1; }) : this.rows
    // },
    pageStart () {
      return (this.currPage - 1) * this.countOfPage
    },
    totalPage () {
      return Math.ceil(this.list.length / this.countOfPage)
    },
    result () {
      return this.list.length
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>

</style>
