@import 'helpers/_functions.scss';
@import 'helpers/_variables.scss';
@import 'bootstrap/scss/bootstrap.scss';

a{
  &:hover{
    text-decoration: none;
  }
}

header{
  background-color: $purple;
  padding: rem(24px) 0;
  .container{
    display: grid;
    grid-auto-columns: 1fr 2fr;
    grid-template-areas: 'logo search';
  }
  .logo{
    grid-area: logo;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    a{
      display: inline-block;
      width: 100%;
      max-width: 175px;
      margin: auto;
    }
  }
  .search-content{
    grid-area: search;
    display: flex;
    padding: rem(24px) 0;
    .search{
      display: inline-block;
      vertical-align: middle;
      border-bottom: 1px solid $white;
      .fa-search{
        color: $white;
      }
      input{
        width: rem(300px);
        max-width: 80%;
        border: 0;
        outline: 0;
        box-shadow: 0 0 0 transparent;
        background-color: transparent;
        padding: 0px 5px;
        color: $white;
      }
    }
  }
}

body{
  background-color: $gray-100;
}

main .container{
  display: grid;
  grid-auto-columns: 1fr 2fr;
  grid-template-areas: 'side content';
  width: 100%;
  height: 100vh;
}

aside{
  grid-area: side;
}

.mian-content{
  grid-area: content;
}

.list-filter{
  width: 90%;
  max-width: 300px;
  margin: auto;
  background-color: $gray-200;
  padding: rem(24px) rem(40px);
  h3{
    font-size: $fz-20;
    font-weight: bold;
    color: $black;
  }
  select#locations{
    width: 100%;
    height: rem(40px);
    padding: 3px 5px;
    border: 0;
    &:focus{
      outline: 0;
      box-shadow: 0 0 0 transparent;
    }
  }
  hr{
    margin-top: rem(24px);
    margin-bottom: rem(24px);
    border-top-color: $gray-300;
  }
  .label-date{
    display: grid;
    grid-auto-columns: 50px calc(100% - 50px);
    grid-template-areas: 'span input';
    span{
      grid-area: span;
      display: block;
      text-align: right;
      line-height: rem(40px);
      padding-right: 1rem;
    }
    input{
      border: 0;
      outline: 0;
      height: rem(40px);
      padding: 0 5px;
    }
  }
  .category-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
      position: relative;
      input{
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        // pointer-events: none;
        opacity: 0;
        &:checked{
          + label{
            &:before{
              background-color: $indigo;
            }
          }
          ~ .fa-check{
            opacity: 1;
          }
        }
      }
      .fa-check{
        width: 1rem;
        height: 1rem;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: #fff;
        z-index: 5;
        opacity: 0;
        margin-top: -3px;
        font-size: 12px;
        text-align: center;
        line-height: 1rem;
      }
      label{
        display: inline-block;
        position: relative;
        padding-left: calc(1rem + 10px);
        &:before{
          content: '';
          display: block;
          width: 1rem;
          height: 1rem;
          background-color: $white;
          border-radius: 3px;
          margin-right: 10px;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.filter-result{
  font-size: $fz-24;
  margin-top: $fz-24;
  margin-bottom: .5rem;
  strong{
    color: $indigo;
  }
}

.filter-tag{
  margin-bottom: $fz-36;
  .tag{
    display: inline-block;
    padding: .3rem 1rem;
    color: $indigo;
    border: 1px solid $indigo;
    border-radius: 20px;
    .tag-close{
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      width: rem(20px);
      height: rem(20px);
      position: relative;
      border-radius: 50%;
      border: 1px solid $indigo;
      cursor: pointer;
      &:before,&:after{
        content: '';
        width: 8px;
        height: 1px;
        background-color: $indigo;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
      &:before{
        transform: rotate(-45deg);
      }
      &:after{
        transform: rotate(45deg);
      }
    }
  }
}

.filter-list{
  .item{
    width: 100%;
    height: rem(220px);
    margin-bottom: rem(24px);
    > a{
      width: 100%;
      height: 100%;
      display: grid;
      grid-auto-columns: rem(220px) auto;
      grid-template-areas: 'img text';
    }
    .img{
      display: block;
      width: rem(220px);
      height: 100%;
      object-fit: cover;
      grid-area: img;
    }
    .text{
      padding: rem(24px) rem(20px);
      .name{
        font-size: $fz-24;
        line-height: $fz-36;
        color: $indigo;
        font-weight: $font-weight-bold;
      }
      .descriptions{
        font-size: $fz-16;
        line-height: $fz-24;
        color: $black;
      }
    }
  }
}

.pagination{
  ul{
    list-style-type: none;
    padding: 0;
    li{
      display: inline-block;
      vertical-align: middle;
      a{
        display: block;
        padding: 0.5rem;
        color: $black;
        transition: color .3s ease-in-out;
      }
      &.active, &:hover{
        a{
          color: $indigo;
        }
      }
    }
  }
}